<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">Appreciate the site?
            <span data-bs-toggle="modal" data-bs-target="#beggarModal" style="cursor: pointer;"><u>Buy me a
                    beer</u></span>
        </span>
    </div>
</footer>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="beggarModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thanks!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            <div class="modal-body">
                <div class="list-group">
                    <a href="https://cash.app/$anthonyjburch" class="list-group-item list-group-item-action"
                        target="_blank">
                        <img src="../../assets/cashapp.jpg" width="25" height="25" style="margin-right: 16px;"> CashApp
                    </a>
                    <a href="https://www.paypal.com/donate?business=7BRNXVDYENMLL&no_recurring=1&currency_code=USD"
                        class="list-group-item list-group-item-action" target="_blank">
                        <img src="../../assets/paypal.jpg" width="25" height="25" style="margin-right: 16px"> PayPal
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>