<!-- <small class="text-muted">
    <i>Last Updated: {{lastUpdated | date:'mediumDate'}} {{lastUpdated | date:'shortTime'}}</i>
    <i>
        <a class="ms-3" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
            aria-controls="collapseExample" *ngIf="recentlyUpdatedStock.length">
            ...recently added
        </a>
    </i>
</small>

<p>

</p>
<div class="collapse mb-5" id="collapseExample">
    
</div> -->
<small class="text-muted">
    <i>Last Updated: {{lastUpdated | date:'mediumDate'}} {{lastUpdated | date:'shortTime'}}</i>
    <i>
        <a class="ms-3" data-bs-toggle="modal" href="#recentUpdatesModal" role="button"
            *ngIf="recentlyUpdatedStock.length">
            ...recently Updated
        </a>
    </i>
</small>

<!-- Modal -->
<div class="modal fade" id="recentUpdatesModal" tabindex="-1" aria-labelledby="recentUpdatesModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="recentUpdatesModalLabel">Recently Updated</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="chKVinylOnly" [(ngModel)]="vinylOnly">
                    <label class="form-check-label" for="chKVinylOnly">
                        <small class="text-muted">Show vinyl only</small>
                    </label>
                  </div>
                <ul class="list-group">
                    <ng-container *ngFor="let item of recentlyUpdatedStock">
                        <li class="list-group-item d-flex justify-content-between align-items-start"
                            *ngIf="!vinylOnly || (vinylOnly && item.format === 'vinyl')">
                            <div class="ms-2 me-auto">
                                <div class="">{{item.artist}} - <a
                                        href="https://fatwreck.com/collections/new-releases/products/{{item.handle}}"
                                        target="_blank">{{item.title}}</a>
                                </div>
                                <small class="text-muted"><i>{{item.description}} - {{item.quantity}} available</i></small>
                            </div>
                        </li>
                    </ng-container>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>